.Banner {
    height: 58vh;
    position: relative;
    color: white;
    object-fit: contain;
}
.Banner_contents{

}
.Banner_title{

}
.Banner_buttons{

}
.Banner_button{

}
.Banner_description{

}
.banner--fadeBottom{
    
}
