.Banner {
    height: 58vh;
    position: relative;
    color: white;
    object-fit: contain;
}
.Banner_contents{
    margin-left: 30px;
    padding-top: 140px;
    height: 21.11vh;
}
.Banner_title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.Banner_buttons{

}
.Banner_button{

}
.Banner_description{

}
.banner--fadeBottom{

}
