.loginScreen{
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg")
    center no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
}
/* .loginScreen_background{
    
} */
.loginScreen_logo{
    color: red;
    position: fixed;
    left: 0;
    top: 20px;
    width: 150px;
    font-size: 1.6rem;
    font-weight: bold;
    padding-left: 20px;
    object-fit: contain;
}
.loginScreen_btn{
    position: fixed;
    right: 20px;
    top: 12px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: red;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
}
.loginScreen_gradient{
    width: 100%;
    z-index: 1;
    height: 100vh;
}