.loginScreen{
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg")
    center no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
}
/* .loginScreen_background{
    
} */
.loginScreen_logo{
    color: red;
    position: fixed;
    left: 0;
    top: 20px;
    width: 150px;
    font-size: 1.6rem;
    font-weight: bold;
    padding-left: 20px;
    object-fit: contain;
}
.loginScreen_btn{
    position: fixed;
    right: 20px;
    top: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: red;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
}
.loginScreen_gradient{
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
    );
}
.loginScreen_body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: #fff;
    width: 100%;
}
.loginScreen_body > h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
}
.loginScreen_body > h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.loginScreen_body > h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.loginScreen_input > form > input{
    padding: 10px;
    outline-width: 0;
    width: 30%;
    max-width: 600px;
    border: none;
    height: 30px;
}

.loginScreen_Input_Button{
    padding: 16px 20px;
    color:#fff;
    background-color: red;
    font-size: 1rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.loginScreen_input{
    margin: 20px;
}