.profileScreen{
    height: 100vh;
    color: white;
}
.profileScreen_body{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    max-width: 800px;
}
.profileScreen_info{
    
}
.profileScreen_info > img{
}
.profileScreen_details{

}
.profileScreen_plans{

}
.profileScreen_signout{

}